.form_container {
  background-color: #003580;
  text-align: center;
  margin-bottom: 2rem;
}

.form_content {
  color: white;
  padding: 2rem;
}

.form_content h2 {
  font-size: 32px;
  margin-bottom: 1rem;
}

.form_content p {
  margin-bottom: 1rem;
}

.form_content form input {
  width: 300px;
  padding: 12px 14px;
  border-radius: 8px;
  margin-right: 8px;
  border: none;
}

.form_content form button {
  background-color: #0071c2;
  color: white;
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
